<!DOCTYPE html>
<html>

<head>

    <title>Add Employee</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <h2>Employee Management System</h2>

        <div>

            <a href="{{ url_for('main.dashboard') }}">
                Dashboard
            </a>

            <a href="{{ url_for('main.employees') }}">
                Employee List
            </a>

            <a href="{{ url_for('main.logout') }}">
                Logout
            </a>

        </div>

    </div>

    <div class="form-container">

        <h1>Add Employee</h1>

        <form method="POST">

            <div class="form-group">

                <label>First Name</label>

                <input
                    type="text"
                    name="first_name"
                    required
                >

            </div>

            <div class="form-group">

                <label>Last Name</label>

                <input
                    type="text"
                    name="last_name"
                    required
                >

            </div>

            <div class="form-group">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    required
                >

            </div>

            <div class="form-group">

                <label>Phone</label>

                <input
                    type="text"
                    name="phone"
                >

            </div>

            <div class="form-group">

                <label>Department</label>

                <input
                    type="text"
                    name="department"
                >

            </div>

            <div class="form-group">

                <label>Salary</label>

                <input
                    type="number"
                    name="salary"
                >

            </div>

            <div class="form-group">

                <label>Joining Date</label>

                <input
                    type="date"
                    name="joining_date"
                >

            </div>

            <div class="form-group">

                <label>Status</label>

                <select name="status">

                    <option value="ACTIVE">
                        ACTIVE
                    </option>

                    <option value="INACTIVE">
                        INACTIVE
                    </option>

                </select>

            </div>

            <button type="submit">
                Add Employee
            </button>

            <a href="{{ url_for('main.employees') }}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</body>

</html>